<app-dialog-wizzard [selectedStep]="selectedStep"></app-dialog-wizzard>

<app-orders-table *ngIf="selectedStep === 1"
                  [orders]="data?.orders"
                  [selectedOrder]="selectedOrder"
                  [selectable]="true"
                  (selectOrder)="selectOrderHandler($event)">
</app-orders-table>

<app-prepare-order *ngIf="selectedStep === 2"
                   [form]="form"
                   [socks]="socks"
                   [selectedOrder]="selectedOrder">
</app-prepare-order>

<app-confirm-order *ngIf="selectedStep === 3"
                   [selectedOrder]="selectedOrder">
</app-confirm-order>

<app-dialog-footer [selectedStep]="selectedStep"
                   [orderSelected]="!!selectedOrder"
                   [disableNextButton]="selectedStep === 2 && !formValid"
                   (cancel)="cancelSelectingHandler()"
                   (nextStep)="nextStepHandler()"
                   (previousStep)="previousStepHandler()"
                   (confirm)="confirmHandler()">
</app-dialog-footer>
